.mc
.mochatest
.vscode
**.tgz
agentconfig*.json
images/
docs/
src/
test/
templates/
.dockerignore
Dockerfile
tsconfig.json
tslint.json
.gitignore
.gitlab-ci.yml
.npmrc
starterjs
starterts
node6.Dockerfile
node8.Dockerfile
docs.yml
CODE_OF_CONDUCT.md
CONTRIBUTING.md
private.key
public.pem
mdsp_meta.yml
timeseries.csv
Jenkinsfile